.home-container-wrapper {
  height: 100%;
  width:100%;
  background-color: cc(selection);
}
.home-container {
  height: 100%;
  width:100%;
  @include flexColumnCenter;
  background: cc(bg);
  color: cc(txt);
  padding: 40px 40px 0;
  @include transition;
  z-index: 2;
  position: relative;

  &.show-tools {
    transform: translateX(-8em);
    // @include btnBoxShadow;
    box-shadow: 5px 0px 5px 0 rgba(49, 49, 93, 0.1), 4px 6px 2px 0 rgba(0, 0, 0, 0.08);
  }
  &.container-right {
    transform: translateX(10em);
    box-shadow: 5px 0px 5px 0 rgba(49, 49, 93, 0.1), 4px 6px 2px 0 rgba(0, 0, 0, 0.08);
  }
}