.menu {
  // border: 1px solid red;
  height: 100%;
  width: 100%;
}
.menu-home {
  padding: 10em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .menu-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 6px 8px 5px 0px rgba(121, 120, 120, 0.2);
    padding: 20px;
    &[size="A4"] {  
      width: 21cm;
      height: 29.7cm; 
    }
    .menu-header {
      // border: 1px solid red;
      height: 160px;
      width: 100%;
      display: flex;
      flex-direction: column;
      &-top-border {
        // border: 1px solid blue;
        flex: 1;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .dashes {
          font-size: 24px;
          color: cc(b-red);
        }
        .middle-box {
          height: 100%;
          width: 100%;
          background: #eee;
          margin: 0 16px;
      
        }
      }
      &-details {
        flex:2;
      }
    }
    .menu-body {
      /* border: 1px solid blue; */
      flex: 1;
      .menu-item-card {
        border: 2px solid black;
        min-height: 130px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        
        .edit-hover:hover {
          cursor: pointer;
          background: cc(input, .2);
        }
        .menu-item-header, .menu-item-body {
          flex: 1;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: flex-start;
        }
        
        .menu-item-header .menu-item-title {
          font-size: 28px;
          flex: 2;
          p, input {
            padding: 10px 6px 4px;
            color: cc(dark);
          }
          input {
            background: cc(input, .4);
            width: 100%;
          }
          &--location p{
            border-top: 1px dotted cc(dark);
            font-size: 20px;
            color: cc(txt)
          }
          &--location input{
            border-top: 1px dotted cc(dark);
            font-size: 20px;
            color: cc(txt)
          }
        }
        .menu-item-header .menu-item-details {
          display: flex;
          flex-direction: row;
          flex: 1;
          // height: 105px;
          div.block {
            padding: 6px 0;
            width: 76px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            &:nth-of-type(1) {
              justify-content: center;
              border-left: 1px solid cc(dark);
              border-right: 1px solid cc(dark);
            }
            &:nth-of-type(2) {
              border-right: 1px solid cc(dark);
            }
            &:nth-of-type(3) {
              border-right: 1px solid cc(dark);
            }
            p {
              font-size: 10px;
            }
            span {
              font-size: 37px;
              margin: 4px 0;
            }
          }
          &--price {
            input {
              font-size: 37px;
              width: 100%;
            }
          }
        }
        .menu-item-body {
          border-top: 1px solid cc(dark);
          &--description {
            width: 100%;
          }
          p, textarea{
            font-size: 20px;
            padding: 10px 6px;
            color: cc(dark);
            width: 100%;
          }
        }
      }
    }
    .menu-footer {
      border: 1px solid green;
      height: 100px;
    }
  }
}