$header-font-size: 28px;
.menu {
  // border: 1px solid red;
  height: 100%;
  width: 100%;
}
.menu-home {
  padding: 10em 0;
  display: flex;
  @include flexColumnCenter;
  .menu-container {
    background-color: white;
    @include flexColumn;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 6px 8px 5px 0px rgba(121, 120, 120, 0.2);
    padding: 20px;
    &[size="A4"] {  
      width: 21cm;
      height: 29.7cm; 
    }
    .menu-header {
      // height: 200px;
      width: 100%;
      position: relative;
      @include flexColumn;
      &-top-border {
        flex: 1;
        min-height: 50px;
        max-height: 50px;
        @include flexRowSpaceBetween;
        margin: 0 0 16px 0;
        .dashes {
          font-size: 24px;
          color: cc(b-red);
        }
        .middle-box {
          height: 100%;
          width: 100%;
          background: #eee;
          margin: 0 16px;
          
        }
      }
      &-title {
        min-height: 105px;
        flex:2;
        // margin-bottom: 30px;
        position: relative;
        // border: 1px solid red;
        @include flexRowSpaceBetween;
        .title-right, .title-left {
          flex: 1;
          height: 100%;
          p:nth-of-type(1) {
            margin-bottom: 12px;
          }
        }
        .title-left {
          @include flexColumnStartCenter;
          font-size: 24px;
          padding: 0 12px;
          p:nth-of-type(2) {
            color: $bootys-red;
          }
        }
        .title-right {
          @include flexColumnCenter;
          border: 2px solid black;
          font-size: 20px;
          color: $bootys-red;
          position: relative;
          .removeItemBtn {
            @include removeBtn;
          }
          &:hover {
            .removeItemBtn {
              opacity: 1;
            }
          }
        }
        .removeItemBtn {
          @include removeBtn;
          left: -14px;
        }
        &:hover {
          border: 2px dotted rgba(black, .4);
          @include dramaShadow;
          .removeItemBtn {
            opacity: 1;
          }
        }
      }
    }
    .menu-body {
      flex: 1;
      margin-top: 30px;
      .menu-item-card {
        border: 2px solid black;
        min-height: 130px;
        background-color: white;
        @include flexColumn;
        margin-bottom: 30px;
        .menu-item-wrapper {
          position: relative;
          @include transition;
          .removeItemBtn {
            @include removeBtn;
          }

          &:hover {
            @include dramaShadow;
            .removeItemBtn {
              opacity: 1;
            }
          }
        }
        .edit-hover:hover {
          cursor: pointer;
          background: cc(input, .2);
        }
        .menu-item-header, .menu-item-body {
          flex: 1;
          @include flexRowSpaceBetween;
          align-items: flex-start;
        }
        
        .menu-item-header .menu-item-title {
          font-size: $header-font-size;
          flex: 2;
          border-right: 2px solid black;
          p, input {
            padding: 10px 6px 4px;
            color: cc(dark);
          }
          input {
            background: cc(input, .4);
            width: 100%;
          }
          &--location p{
            border-top: 1px dotted cc(dark);
            font-size: 20px;
            color: cc(txt)
          }
          &--location input{
            border-top: 1px dotted cc(dark);
            font-size: 20px;
            color: cc(txt)
          }
        }
        .menu-item-header .menu-item-details {
          @include flexRow;

          div.block {
            padding: 6px 0;
            width: 76px;
            flex: 1;
            @include flexColumnCenter;
            span {
              font-size: 37px;
              margin: 4px 0;
            }
          }
          &--price {
            input {
              font-size: 37px;
              width: 100%;
            }
          }
        }
        .menu-item-body {
          border-top: 1px solid cc(dark);
          &--description {
            width: 100%;
          }
          p, textarea{
            font-size: 20px;
            padding: 10px 6px;
            color: cc(dark);
            width: 100%;
          }
        }
      }
    }
    .menu-footer {
      border: 1px solid green;
      height: 100px;
    }
  }
}