.menu-template-container {
  @include flexColumnCenter;
  font-family: 'artisan12', Helvetica, Arial, sans-serif;
  // height: calc(100vh - 100px);
  // overflow: scroll;
  padding: 0 0 3em;
  margin-top: 40px;
  .hide-print {
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    z-index: 2;
  }
  .menu-template {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(220, 220, 220);
    box-shadow: 6px 8px 5px 0px rgba(121, 120, 120, 0.2);
    &.scaleForPrint {
      transform: scale(3,3);
      transform-origin: 0 0;
      .menu-body .menu-item-card .menu-item .edit-hover {
        display: none;
      }
    }
    // padding: 20px 40px;
    position: relative;
    &[size="A4"] {
      width: 15.53cm;
      // width: 21.0cm;
      height: 29.7cm;
      padding: 24px;
      img.test-menu {
        position: absolute;
        // width: 21.0cm;
        height: 29.7cm;
        top: 0;
        left: 0;
        z-index: 1;
        opacity: .8;
      }
    }
    .menu-header {
      // see _menu-template-header.scss
    }
    .menu-body {
      // see _menu-template-header.scss
    }
    .menu-footer {
      // see _menu-template-footer.scss
    }
  }
}