.nav-editor {
  display: flex;
  flex-direction: row;
  height: 100px;
  width: 100%;
  border: 1px solid red;
  justify-content: center;
  align-items: center;
  .button {
    @include btnCrisp;
    &:focus{
      outline: none;
    }
    &:hover {
      @include btnBoxShadow;
      @include hover;
      color: $a-gray;
      cursor: pointer;
      // transform: translateY(-1px);
		  // box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }
  }
}