// TOP BAR

.home-container-wrapper {
  height: 100%;
  width:100%;
  background-color: cc(selection);
  // @include flexColumnCenter;
  
  // BOTTOM BAR
  #bottom-bar, #top-bar {
    position: fixed;
    width: calc(100% - 80px);
    height: 40px;
    @include flexRowSpaceBetween;
    svg {
      color: cc(ghost, .5);
      width: 20px;
      @include transition;
      &:hover {
        cursor: pointer;
        color: cc(ghost);
      }
    }
  }
  #bottom-bar {
    bottom: 10px;
    height: 40px;
  }
  // TOP BAR
  #top-bar {
    align-items: flex-end;
    top: 40px;
  }


  // TOOL BAR
  #side-tool-bar {
    position: fixed;
    top: 80px;
    right: 0;
    @include flexColumn;
    width: 8em;
    height: auto;
    @extend %txt--subtitle;
    ul {
      @include flexColumnFlexStart;
      padding: 0 0 0 20px;
      margin-bottom: 60px;
      li {
        color: cc(txt, .8);
        @extend %txt--subtitle;
        padding: 0 0 8px;
        cursor: pointer;
        @include transition;
        &:hover, &:active, &:focus {
          // transform: scale(1.18);
          color: cc(txt, 1);
        }
      }
    }
    ul:nth-of-type(1) {
      li {
        @include fluid-type(10px, 12px);
        padding-left: 8px;
      }
      li:nth-of-type(1) {
        padding-left: 0;
        @include fluid-type(14px, 16px);
        color: cc(txt, .8);
      }
    }
  }
// SIDEBAR
  aside#side-bar {
    position: fixed;
    flex:1;
    padding: 0 0 40px 0;
    .sidebar {
      height: 600px;
      @include flexColumn;
      padding: 0 0 0 20px;
      .logo {
        height: 60px;
        @include flexRowFlexStart;
      }
      section {
        @include flexColumn;
        h2 {
          color: cc(txt);
          margin: 20px 0;
          @extend %txt--title;
          display: inline-block;
        }
        ul {
          @include flexColumn;
        }
        ul li {
          color: cc(txt, .8);
          display: inline-block;
          @extend %txt--subtitle;
          padding: 0 0 8px;
          cursor: pointer;
          @include transition; 
          
          &:hover, &:active, &:focus {
            // transform: scale(1.18);
            color: cc(txt, 1);
            &:after {
              content: '';
              position: relative;
              width: 100px;
              height: 20px;
              color: $coral-red;
            }
          }
        }
      }
    }
  }
}