.menu-editor {
  display: flex;
  flex-direction: row;
  min-height: 177px;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 100px;
  left: 0;
  z-index: 3;
  @include transition;
  i.menu-icon {
    @include transition;
    font-size: 32px;
          // &:hover {
          //   @include dramaShadow;
          // }
    
  }
  .button-group {
    margin: 0 14px;
  }
  .button {
    @include btnCrisp;
    margin-bottom: 4px;
    &:focus{
      outline: none;
    }
    &:hover {
      @include btnBoxShadow;
      @include hover;
      color: $a-gray;
      cursor: pointer;
    }
  }
}